#menu-container{
	display: none;
}

/* Navigation Menu */
#mobile-nav{
	background: rgba(90,90,90,0.9);
	height: 50px;
	left: 0px;
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 2;
}

#mobile-nav img{
	display: inline-block;
	float: left;
	margin-left: 50px;
	margin-top: 5px;
	height: 40px;
	width: 40px;
}

#mobile-menu-buttons{
	float: right;
	display: inline-block;
	height: 100%;
	margin-right: 50px;
}

#mobile-menu-button{
	background-image: url("../img/ui/mobile-menu-button.png");
	background-repeat: none;
	background-size: cover;
	cursor: pointer;
	display: inline-block;
	float:left;
	height: 40px;
	margin-top: 5px;
	position: relative;
	width: 40px;
}

#mobile-menu-button.opened:after{
	content: '';
    position: absolute;
    left: 25%;
    top: 90%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #262627;
    clear: both;
}

#mobile-fb-button{
	background-image: url("../img/ui/fb-w.png");
	background-repeat: no-repeat;
	background-size: 10px 19px;
	background-position: 10px 5px;
	border-left: 2px solid #262627;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 30px;
	margin-top: 10px;
	margin-left: 7px;
	width: 50px;
}

#mobile-menu{
	background-color: rgba(38,38,39,0.95);
	display: none;
	height: 300px;
	right: 50px;
	position: fixed;
	top:50px;
	width: 50%;
	z-index: 2;
}

#mobile-menu ul{
	display: block;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#mobile-menu li{
	border-bottom: 1px #5A5A5A solid;
	border-radius: 70px;
	color:#E6E9ED;
	cursor: pointer;
	display: block;
	font-family: DigitalSans;
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	margin: 0px;
	padding: 20px 0 20px 20px;
}

#mobile-menu li:active{
	background-color: #DEC329;
	color: #262627;
	border-radius: 0px;
	-webkit-transition: border-radius ease 150ms, background-color linear 100ms;
}

#mobile-menu li:last-child{
	border: none;
}

#mobile-menu li a{
	color:inherit;
	text-decoration: none;
}

/* Ends Navigation Menu */

/* Main Container */
#main-container{
	width: 100%;
}

@media (max-width: 817px){
	.separator{
		background-position: center;
		width: 95%;
	}
}

.at-lightbox{
	height: 290px;
	width: 625px;
}

.at-lightbox img{
	height: 290px;
	width: 625px;
}

form{
	height: 500px;
}

@media (max-width: 624px){
	.at-lightbox{
		height: 232px;
		width: 500px;
	}

	.at-lightbox img{
		height: 232px;
		width: 500px;
	}
}

/* Ends Main Container*/


/* Header */
#welcome-header{
	background-image: url("../img/content/3.jpeg");
	background-size: cover;
	overflow: auto;
	height: 400px;
	width: 100%;
}

#logo{
	display: none;
}

#welcome{
	background-size: cover;
	margin: auto;
	margin-top: 110px;
	height: 225px;
	width: 500px;
}

/*End header*/


/* About Us Section */
#about-us{
	padding-top: 70px;
}

#about-us-contents{
	margin-bottom: 20px;
	height: auto;
	width: 82%;
}

#about-us-contents section{
	display: inline-block;
	height: auto;
	width: 49%;
}

@media (max-width: 784px) and (min-width: 500px){
	#about-us-contents{
		width: 95%;
	}

	.about-us-desc{
		background-size: cover;
		margin: auto;
		width: 246px;
		height: 250px;
	}
}

#about-us-mision{
	float: left;
}

#about-us-valores{
	float:right;
}

#about-us-vision{
	width: 100% !important;
}

/* Ends About Us Section */

/*Service section*/

#services{
	padding-top: 70px;
}

#services h1{
	margin-left: 10px;
}

#services-lightbox{
	margin-top: 50px;
	height: 290px;
	width: 625px;
}

#services-lightbox img{
	height: 290px;
	width: 625px;
}

@media (max-width: 624px){
		#services-lightbox{
		height: 232px;
		width: 500px;
	}

	#services-lightbox img{
		height: 232px;
		width: 500px;
	}
}

/*Ends service section*/

/* Sells section */
#sells{
	padding-bottom: 20px;
	overflow: auto;
}

#sells header{
	margin-left: 50%;
	height: 58px;
	width: 364px;
}

#sells header span{
	font-size: 43px;
	height: 58px;
	left: 13px;
	width: 58px;
}

#sells h2{
	font-size: 24px;
	letter-spacing: 1px;
	height: 47px;
	line-height: 47px;
	margin: 0;
	margin-top: 7px;
	min-width: 287px;
	max-width: 287px;
	padding:0;
	padding-left: 77px;
}


#sells header span::after{
  	top: 52.49px;
}

#sells-form-container{
	height: 610px;
	margin-left: 245px;
	margin-bottom: 40px;
	margin-top: 40px;
	padding-top: 20px;
}


@media(max-width: 729px){
	#sells header{
		margin-left: 30%;
	}

	#sells-form-container{
		margin-left: auto;
		margin-right: auto;
	}
}

/*Ends Sells Section*/

/* Services gallery section style */

#services-gallery{
	padding-top: 70px;
	padding-bottom: 30px;
}

#services-gallery h1{
	margin-left: 10px;
}
/* Ends Services gallery section style */

/* Contact section style */

#contact{
	height: auto;
	margin: auto;
	margin-top: 20px;
	padding: 80px 0px 370px 0px;
}

#contact section{
	display: inline-block;
	width: 49.5%;
}

#contact-list{
	margin-top: 50px;
}

@media(max-width: 820px){
	#contact section{
		width: 100%;
	}

	#contact-list{
		margin-top: 0px;
	}

	#contact-form-container{
		float:none;
		margin: auto;
		margin-top: 80px;
	}
}

#contact-list h1{
	margin-left: 10px;
}

#contact-form-container{
	float:right;
}

/* Ends contact section style */

